* {

    font-family: 'Space Grotesk', sans-serif;
    display: center;
    grid-template-columns: repeat(
    auto-fit,
    minmax(150px
    1fr)
      )
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0 px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;

}

ul li {
    display: inline-block;
    padding: 0% 20px;
    


}

.overline:hover {
    text-decoration: overline;
    cursor: pointer;
    transform: scale(1.2);
}

body {

    background-image: url(fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

button {
    background-color: rgb(82, 255, 47);
    color: white;
    padding: 5px 25px 5px 25px;
    border: 5px;
    border-radius: 40px;


}

.button2 {
    background-color: rgb(47, 210, 255);
    color: white;
    padding: 1px 20px 1px 20px;
    border: 5px;
    border-radius: 40px;
    
    
}

.button2:hover{
    text-decoration: overline;
    cursor: pointer;
    transform: scale(1.2);
}

.principal {

    height: 220px;
    margin: 2rem auto;
    text-align: center;
    width: 300px;

}


.comienzo {

    text-align: center;
}

.aparte {
    font-family: 'Dancing Script', cursive !important;
    font-weight: 1000;
    color: deepskyblue;
    -webkit-text-stroke: 0.5px black;
}


.plan {
    text-align: left;
    display: flex;
    align-items: center;
   justify-content: center;
    
}

.plan h2 {
    background-color: deepskyblue;
    
    padding: 47px 10px 47px 10px;
    border-radius: 10px;
    border: solid black 1px;
    color: white;
    
}

.contenido {
    background-color: white;
    
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    border: solid black 1px
}

.izq{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 0 0 0 35px;
}

.der{
    background-color: deepskyblue;
    
    padding: 15px 20px;
    width: 100%;
    border-radius: 10px;
   
}

.social{
    position: absolute;
    left: 140px;
    
}
.social a{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
    background-color: transparent;
}

.social img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.social a:hover{
    transform: scale(1.2);
}

.descarga{
    position:absolute;
    right: 350px;
    
    
    
}
.descarga a{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
    background-color: transparent;
}

.descarga img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 15px;
}

.descarga a:hover{
    transform: scale(1.2);
}